.govuk-spotlight-list {
  @include list-reset();
  @include govuk-font(19, $weight: bold);
  margin-bottom: govuk-spacing(4);
}

.govuk-spotlight-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(5);
  padding-top: govuk-spacing(5);

  &:first-child {
    padding-top: 0;
  }

}
