
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Scenarios</h1>

    <h2 class="govuk-heading-l">Landing page</h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">The UK has left (transition period)</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/left/v2">The UK has left the EU v2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/left/v1">The UK has left the EU v1</a></li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">The UK will leave (transition period)</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/leaves/v3">The UK will leave the EU on 31 January 2020 v3 (27 Jan 2020)</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/leaves/v2">The UK will leave the EU on 31 January 2020 v2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/leaves/v1">The UK will leave the EU on 31 January 2020 v1</a></li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Pre deal</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v11">The UK and EU have agreed an exit deal v3</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v10">The UK and EU have agreed an exit deal v2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v9">The UK and EU have agreed an exit deal v1</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v8">Landing page v8</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v7">Landing page v7</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v6">Landing page v6</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v5">Landing page v5</a></li>
      <!--li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v4">Landing page v4</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v3">Landing page v3</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/v2">Landing page v2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-deal/">Landing page v1</a></li-->
    </ul>

    <!--h3 class="govuk-heading-m govuk-!-margin-bottom-1">Pre no deal</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-no-deal/brexit-long-landing-page">Landing page</a></li>
    </ul-->

    <!--h3 class="govuk-heading-m govuk-!-margin-bottom-1">No deal</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal/brexit-long-landing-page">Landing page</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal/brexit-long-landing-page-alerts">Long landing page with alerts</a></li>
    </ul-->

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Deal</h3>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/deal/v3">Landing page v3</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/deal/v2">Landing page v2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/deal/">Landing page</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">GOV.UK</h2>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/transition/home">Homepage</a></li>
    </ul>

  </div>

</div>

{% endblock %}
