
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Brexit scenarios
    </h1>

    <h2 class="govuk-heading-m">Brexit landing page v1</h2>

    <h3 class="govuk-heading-s">Pre no deal</h3>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal">No deal</a></li> -->
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/pre-no-deal/brexit-long-landing-page">Pre no deal - landing page</a></li>
    </ul>


    <h3 class="govuk-heading-s">No deal</h3>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal">No deal</a></li> -->
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal/brexit-long-landing-page">No deal - landing page</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal/brexit-long-landing-page-alerts">No deal - long landing page with alerts</a></li>
    </ul>

    <h3 class="govuk-heading-s">Deal</h3>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/no-deal">No deal</a></li> -->
      <li><a class="govuk-link govuk-link--no-visited-state" href="/brexit/deal/brexit-deal-landing-page">Deal - landing page</a></li>
    </ul>

  </div>

</div>

{% endblock %}
